.skills-container {
  flex: 3;
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
  flex-wrap: wrap;
}

.card {
  height: 280px;
  min-width: fit-content;
  width: 200px;
  padding: 3%;
  display: flex;
  margin-left: 15px;
  margin-bottom: 10px;
  flex-direction: column;

  background: #172a3a;
  border-radius: 13px;
  box-shadow: 0.8rem 0 3rem #000;
  transition: 0.4s ease-out;
  transition: scale 1s ease-out forwards;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
  .skill-exact,
  .card-title {
    color: rgb(219, 88, 12);
  }
  .details-btn {
    border: 1px solid rgb(219, 88, 12);
  }
}

.card-title {
  flex: 1;
  margin: auto;
  color: white;
}

.card-info {
  flex: 3;
  color: white;
}

.skill-title {
  letter-spacing: 3px;
  margin-bottom: 5px;
}

.skill-exact {
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-size: 1em;
  margin-left: 10px;
}

.details-btn {
  display: block;
  color: white;
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  margin-bottom: 15px;
  padding: 5px;
  background: transparent;

  &:focus {
    border: 1px solid rgb(219, 88, 12);
    outline: none;
  }
}

.overlay {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  padding-top: 15%;
}

.overlay-active {
  display: block;
  opacity: 1;
}
.popup {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: fit-content;
  width: 50%;
  padding: 3%;
  margin: auto;
  background: linear-gradient(180deg, #152a44 -15.61%, #4047da 151.53%);
  border-radius: 13px;

  .projects-title {
    color: rgb(219, 88, 12);
    margin: auto;
    text-align: center;
  }

  .project-header {
    letter-spacing: 2px;
    margin-bottom: 8px;
  }

  .project-details {
    margin-bottom: 10px;
  }

  .title {
    font-size: 1.2rem;
  }
  .no-projects {
    margin-bottom: 20px;
  }
  .content-container {
    .content {
      margin-bottom: 15px;
    }
    .project-details,
    a {
      color: rgb(211, 210, 210);
      text-decoration: none;
    }

    a:hover {
      color: rgb(219, 88, 12);
    }
  }
}

.hr-line {
  margin-bottom: 10px;
  height: 1px;
  background-color: rgb(219, 88, 12);
  border: none;
}

@media (max-width: 600px) {
  .skills-container {
    justify-content: center;
    justify-content: space-evenly;
  }
  .card {
    margin: auto;
    margin-bottom: 10px;
  }
  .content {
    flex-direction: column;
  }
}
